*{
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

.body li{
  text-align: center;
  font-size: 1.5rem;
  list-style-type: none;
  padding: 20px;
}

.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  color: #53caee;
}

.footer {
  background-color: rgb(56, 56, 56);
  box-sizing: border-box;
  min-height: 5vh;
  color: white;
  position:absolute;
  left:0;
  bottom:0;
  right:0;
  text-align: center;
}