*{
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

html,
body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow: auto;
  padding-bottom: 180px;
  /* must be same height as the footer */
}

.body li {
  text-align: center;
  font-size: 1.5rem;
  list-style-type: none;
  padding: 20px;
}

.post {
  text-align: center;
  font-size: 1.3rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  box-sizing: content-box;
  width: max-content;
  max-width: 50%;
  min-width: 50%;
  transition: 0.3s;
  border-radius: 10px;
  padding: 2.5%;
  margin-top: 20px;
  margin-bottom: 20px;
  word-wrap: break-word;
}

.post-image {
  border-radius: 5px;
  max-width: 100%;
}

#all-post {
  font-size: 2rem;
}

#all-post:hover {
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2);
  padding: 2.5%;
}

textarea {
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbDc1S7I87jE1h-jOScvTvMXHLmHkicfDE-Q&usqp=CAU) center center no-repeat;
  background-size: 70%;
  min-height: 80px;
  min-width: 300px;
  border-radius: 10px;
  resize: none;
}

textarea:focus {
  background: none;
}

.title-input {
  width: 200px;
}

.comment p{
  color:blue;
  font-size: 1rem;
  text-align: left;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  box-sizing: content-box;
  border-radius: 10px;
  max-width: 300px;
  min-width: 100px;
  padding: 20px;
  margin: auto;
  word-wrap: break-word;
  list-style-type: none;
}

.button {
  border: none;
  transition-duration: 0.4s;
  padding: .5rem;
  font-size: 1rem;
  background-color: rgb(206, 206, 206);
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 #000000;
}

.button:hover {
  background-color: rgb(168, 168, 168);
  cursor: pointer;
}

.comment-button {
  border: none;
  background: none;
  color: #5c5c5c;
}
.comment-button:hover {
  cursor: pointer;
  color: #000000;
}

input, label, button {
  display:block;
}

label {
  padding-top: 10px;
}

.forms {
  margin-top: 20px;
  margin-bottom: 20px;
}

.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  color: #9b1c2c;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYshnSKY2Z7XjmngRU9-_byh7qSVFS-YFcPA&usqp=CAU);
  font-size: 1.25em;
  font-weight: 700;
  min-width: 200px;
  min-height: 200px;
  border: 5px outset rgb(172, 170, 170);
  border-radius: 25px;
  display: inline-block;
  cursor: pointer;
}

.inputfile:focus + label,
.inputfile + label:hover {
  border: 5px inset rgb(197, 195, 195);
}

.require{
  display: inline;
  color: red;
}

.like-container {
  border: 1px solid red;
}

.like-text {
  width: 70%;
  margin-inline-start: 10%;
  float: left;
  font-size: 1rem;
  border: 1px solid red;
}

.like-button > img {
  width: 20px;
  margin-inline-end: 10%;
  border: 1px solid red;
}

.like-button > img:hover {
  width: 22px;
  -webkit-filter: drop-shadow( 1px 1px 1px rgba(0, 0, 0, .2));
  filter: drop-shadow( 1px 1px 1px rgba(0, 0, 0, .2));
}

#footer {
  background-color: rgb(56, 56, 56);
  box-sizing: border-box;
  width: 100%;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  min-height: 5vh;
}

@media (max-width: 1024px){

  #all-post {
    font-size: 1.7rem;
    min-width: 70%;
  }

  .post {
    min-width: 70%;
    font-size: 1.1rem;
  }

  .body li {
    padding: 2.5%;
  }

  .like-text {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {

  #all-post {
    font-size: 1.5rem;
    min-width: 85%;
  }

  .post {
    min-width: 85%;
    font-size: 1rem;
  }

  textarea {
    min-width: 200px;
  }

  .body li {
    padding: 2.5%;
  }

  .like-text {
    font-size: 1rem;
  }
}


@media (max-width: 480px) {
  #all-post {
    font-size: 1.2rem;
    min-width: 90%;
  }

  .post {
    min-width: 90%;
    font-size: .9rem;
  }

  textarea {
    min-width: 100px;
  }

  .body li {
    padding: 2.5%;
  }

  .like-text {
    font-size: .8rem;
  }
}